body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;

}

body {
  font-family: helvetica;
}
header {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

p {
  line-height: 2em;
}


h1 {
  margin-top: 0;
}

a {
  color: white;
  list-style: none;
}
.tiny-logo {
  width: 20%;
  padding: 10px;
}

.logo {
  padding-left: 20px;
}

.c-logo {
  padding-top: 10px;
  width: 35%;
}

button {
   background-color: burlywood; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: black; /* Green */
  border: 1px solid burlywood;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.img-fluid {
  width: 80%;
  padding: 20px;
}

.links {
  width: 20%;
  display: flex;
  justify-content: space-between;
  padding-right: 2%;
}

.top-pics {
  display: flex;
  justify-content: space-around;
}

.main-header {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.first-box {
  width: 20%;
}

.examples {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.example-fluid {
  width: 20%;
}